:root {
    --vp-c-default-1: var(--vp-c-gray-1);
    --vp-c-default-2: var(--vp-c-gray-2);
    --vp-c-default-3: var(--vp-c-gray-3);
    --vp-c-default-soft: var(--vp-c-gray-soft);

    --vp-c-brand-1: rgb(5, 122, 255);
    --vp-c-brand-2: rgb(45, 145, 255);
    --vp-c-brand-3: rgb(85, 168, 255);
    --vp-c-brand-soft: rgba(5, 122, 255, 0.16);
    --vp-c-brand: var(--vp-c-brand-1);

    /* 定义深色变体 */
    --vp-c-brand-dark: rgb(4, 98, 204);
    --vp-c-brand-darker: rgb(3, 73, 153);

    --vp-c-tip-1: var(--vp-c-brand-1);
    --vp-c-tip-2: var(--vp-c-brand-2);
    --vp-c-tip-3: var(--vp-c-brand-3);
    --vp-c-tip-soft: var(--vp-c-brand-soft);

    --vp-c-note-1: var(--vp-c-brand-1);
    --vp-c-note-2: var(--vp-c-brand-2);
    --vp-c-note-3: var(--vp-c-brand-3);
    --vp-c-note-soft: var(--vp-c-brand-soft);

    --vp-c-success-1: var(--vp-c-green-1);
    --vp-c-success-2: var(--vp-c-green-2);
    --vp-c-success-3: var(--vp-c-green-3);
    --vp-c-success-soft: var(--vp-c-green-soft);

    --vp-c-important-1: var(--vp-c-purple-1);
    --vp-c-important-2: var(--vp-c-purple-2);
    --vp-c-important-3: var(--vp-c-purple-3);
    --vp-c-important-soft: var(--vp-c-purple-soft);

    --vp-c-warning-1: var(--vp-c-yellow-1);
    --vp-c-warning-2: var(--vp-c-yellow-2);
    --vp-c-warning-3: var(--vp-c-yellow-3);
    --vp-c-warning-soft: var(--vp-c-yellow-soft);

    --vp-c-danger-1: var(--vp-c-red-1);
    --vp-c-danger-2: var(--vp-c-red-2);
    --vp-c-danger-3: var(--vp-c-red-3);
    --vp-c-danger-soft: var(--vp-c-red-soft);

    --vp-c-caution-1: var(--vp-c-red-1);
    --vp-c-caution-2: var(--vp-c-red-2);
    --vp-c-caution-3: var(--vp-c-red-3);
    --vp-c-caution-soft: var(--vp-c-red-soft);

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-c-brand-1) 30%, var(--vp-c-brand-3));
}

:root {
    --vp-c-gray-1: #dddde3;
    --vp-c-gray-2: #e4e4e9;
    --vp-c-gray-3: #ebebef;
    --vp-c-gray-soft: rgba(142, 150, 170, 0.14);
    --vp-c-indigo-1: #3451b2;
    --vp-c-indigo-2: #3a5ccc;
    --vp-c-indigo-3: #5672cd;
    --vp-c-indigo-soft: rgba(100, 108, 255, 0.14);
    --vp-c-purple-1: #6f42c1;
    --vp-c-purple-2: #7e4cc9;
    --vp-c-purple-3: #8e5cd9;
    --vp-c-purple-soft: rgba(159, 122, 234, 0.14);
    --vp-c-green-1: #18794e;
    --vp-c-green-2: #299764;
    --vp-c-green-3: #30a46c;
    --vp-c-green-soft: rgba(16, 185, 129, 0.14);
    --vp-c-yellow-1: #915930;
    --vp-c-yellow-2: #946300;
    --vp-c-yellow-3: #9f6a00;
    --vp-c-yellow-soft: rgba(234, 179, 8, 0.14);
    --vp-c-red-1: #b8272c;
    --vp-c-red-2: #d5393e;
    --vp-c-red-3: #e0575b;
    --vp-c-red-soft: rgba(244, 63, 94, 0.14);
    --vp-c-sponsor: #db2777;
    --vp-c-bg: #ffffff;
    --vp-c-bg-alt: #ffffff;
    --vp-c-bg-elv: #ffffff;
    --vp-c-bg-soft: #ffffff;
    --vp-code-block-bg: #f8f8f8;
}

.dark {
    --vp-c-gray-1: #515c67;
    --vp-c-gray-2: #414853;
    --vp-c-gray-3: #32363f;
    --vp-c-gray-soft: rgba(101, 117, 133, 0.16);
    --vp-c-indigo-1: #a8b1ff;
    --vp-c-indigo-2: #5c73e7;
    --vp-c-indigo-3: #3e63dd;
    --vp-c-indigo-soft: rgba(100, 108, 255, 0.16);
    --vp-c-purple-1: #c8abfa;
    --vp-c-purple-2: #a879e6;
    --vp-c-purple-3: #8e5cd9;
    --vp-c-purple-soft: rgba(159, 122, 234, 0.16);
    --vp-c-green-1: #3dd68c;
    --vp-c-green-2: #30a46c;
    --vp-c-green-3: #298459;
    --vp-c-green-soft: rgba(16, 185, 129, 0.16);
    --vp-c-yellow-1: #f9b44e;
    --vp-c-yellow-2: #da8b17;
    --vp-c-yellow-3: #a46a0a;
    --vp-c-yellow-soft: rgba(234, 179, 8, 0.16);
    --vp-c-red-1: #f66f81;
    --vp-c-red-2: #f14158;
    --vp-c-red-3: #b62a3c;
    --vp-c-red-soft: rgba(244, 63, 94, 0.16);
    --vp-c-border: #3c3f44;
    --vp-c-divider: #2e2e32;
    --vp-c-gutter: #000000;
    --vp-c-bg: #000000;
    --vp-c-bg-alt: #000000;
    --vp-c-bg-elv: #000000;
    --vp-c-bg-soft: #000000;
    --vp-code-block-bg: #131313;
}

.VPSocialLinks.VPNavBarSocialLinks.social-links {
    margin-right: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.VPNavBar.has-sidebar .content {
    border-bottom-color: var(--vp-c-gutter);
}

#nprogress .bar {
    box-shadow: 0 0 12px 1px var(--vp-c-brand);
}

.slide-fade-enter-active {
    transition: all .175s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slide-fade-leave-active {
    transition: all 0s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(1.5vh);
    opacity: 0;
}

.vp-doc {
    animation: fadeIn1 0.3s ease-in-out;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.go-to-top {
    background: var(--vp-c-bg-soft) !important;
}

.icon-top {
    margin-top: 11px;
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.VPNavBarTitle.has-sidebar .title {
    border: none;
}

#VPSidebarNav {
    padding-top: var(--vp-nav-height-mobile, 64px);
}

main.main {
    padding-top: var(--vp-nav-height-mobile, 32px);
}

.VPNavBar .wrapper {
    border-bottom: 1px solid var(--vp-c-divider);
}